<div class="container-fluid">
  <div class="row">
    <div class="ima col-5">
      <img src="../assets/Log1.png" class="img rounded mx-auto d-block" alt="Historia">
    </div>
    <div class="col-6" style="margin: auto;">
      <p class="text-center" id="His">El 7 de septiembre fue el día en que abrimos nuestras puertas por primera vez.
        Esa fecha marcó el comienzo de nuestra apasionante aventura gastronómica.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid" style="margin-top: -8%;">
  <div class="row">
    <div class="col-6" style="margin: auto; margin-right: 3%; margin-left: 7%;">
      <p class="text-center" id="His">Somos expertos en café de alta calidad. 
        Pero lo que nos distingue es nuestra constante innovación y 
        nuestro compromiso con la satisfacción del cliente.</p>
    </div>
    <div class="ima col-5" style="margin-left: -4%;">
      <img src="../assets/Hist3.jpg" class="img rounded mx-auto d-block" alt="Historia">
    </div>
  </div>
</div>

<div class="container-fluid" style="margin-top: -7%;">
  <div class="row">
    <div class="ima col-5">
      <img src="../assets/Hist2.jpg" class="img rounded mx-auto d-block" alt="Historia">
    </div>
    <div class="col-6" style="margin: auto;">
      <p class="text-center" id="His">Cada bocado es una experiencia única, 
        desde la frescura de nuestros ingredientes hasta la explosión de sabores en cada plato.</p>
    </div>
  </div>
</div>

<div class="container-fluid" style="margin-top: -7%;">
  <div class="row">
    <div class="col-6" style="margin: auto; margin-right: 3%; margin-left: 7%;">
      <p class="text-center" id="His">Nos destacamos en las noches con aperitivos irresistibles.
         Descubre la diferencia en cada aperitivo que ofrecemos, 
        donde la innovación y tu deleite son nuestra prioridad.
      </p>
    </div>
    <div class="ima col-5" style="margin-left: -4%;">
      <img src="../assets/Hist.jpg" class="img rounded mx-auto d-block" alt="Historia">
    </div>
  </div>
</div>
