<div class="container">
    <h3 class="title"> BEBIDAS </h3>
    <div class="products-container">
       <div class="product" data-name="p-1">
          <img src="../assets/Américano.jpg" alt="">
          <h3>Américano</h3>
          <p> Una taza de café americano, el elixir de la mañana que te despierta con su aroma tentador y sabor suave.</p>
          <div class="price">$15.00</div>
       </div>
       <div class="product" data-name="p-2">
          <img src="../assets/Latas.jpg" alt="">
          <h3>Refresco en lata</h3>
          <p> Refréscate con una gran variedad de sabores</p>
          <p> Coca cola, sprite, fanta y pepsi</p>
          <div class="price">$18.00</div>
       </div>
       <div class="product" data-name="p-3">
          <img src="../assets/Aguas.jpg" alt="">
          <h3>Refill</h3>
          <p> Recarga tu sed con nuestra selección de aguas frescas</p>
          <p> Horchata, Jamaica y Té</p>
          <div class="price">$35.00</div>
       </div>
       <!--<div class="product" data-name="p-4">
          <img src="../assets/4.png" alt="">
          <h3></h3>
          <div class="price">$2.00</div>
       </div>
  
       <div class="product" data-name="p-5">
          <img src="../assets/5.png" alt="">
          <h3></h3>
          <div class="price">$2.00</div>
       </div>
  
       <div class="product" data-name="p-6">
          <img src="../assets/6.png" alt="">
          <h3></h3>
          <div class="price">$2.00</div>
       </div>-->
    </div>
  </div>