<div class="container">
    <h3 class="title"> MUFFINS </h3>
    <div class="products-container">
       <div class="product" data-name="p-1">
          <img src="../assets/ChocolateM.jpg" alt="">
          <h3>Chocolate</h3>
          <p> Delicioso muffin de chocolate, con un interior suave y esponjoso que se derrite en tu boca. </p>
          <div class="price">$25.00</div>
       </div>
       <div class="product" data-name="p-2">
          <img src="../assets/ChispasM.jpg" alt="">
          <h3>Chispas de Chocolate</h3>
          <p> Muffin de chispas de chocolate que hace que cada mordisco sea una sorpresa de sabor. </p>
          <div class="price">$25.00</div>
       </div>
       <div class="product" data-name="p-3">
          <img src="../assets/Pasas.jpg" alt="">
          <h3>Pasas</h3>
          <p> Un muffin de pasas que te transportará a momentos nostálgicos con su dulce y jugosa pasas</p>
          <div class="price">$25.00</div>
       </div>
       <!--<div class="product" data-name="p-4">
          <img src="../assets/4.png" alt="">
          <h3></h3>
          <div class="price">$2.00</div>
       </div>
  
       <div class="product" data-name="p-5">
          <img src="../assets/5.png" alt="">
          <h3></h3>
          <div class="price">$2.00</div>
       </div>
  
       <div class="product" data-name="p-6">
          <img src="../assets/6.png" alt="">
          <h3></h3>
          <div class="price">$2.00</div>
       </div>-->
    </div>
  </div>
