<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button *ngFor="let carousel of carousels; let i = index"
            type="button"
            [attr.data-bs-target]="'#carouselExampleIndicators'"
            [attr.data-bs-slide-to]="i"
            [class.active]="i === 0"
            aria-current="true"
            [attr.aria-label]="'Slide ' + (i + 1)"></button>
  </div>

  <div class="carousel-inner">
    <div *ngFor="let carousel of carousels; let i = index" class="carousel-item" [class.active]="i === 0">
      <img [src]="getImageUrl(carousel.image)" class="d-block w-100 d-img" [alt]="'Slide ' + (i + 1)">
      <div class="carousel-caption top-0 mt-5">
        <h1 class="cc display-1 mt-5">{{ carousel.description }}</h1>
        <a class="btn"><button class="btn px-2 py-2 fs-5 mt-4">BIENVENIDOS</button></a>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
