<div class="container">
    <h3 class="title"> PASTELES </h3>
    <div class="products-container">
       <div class="product" data-name="p-1">
          <img src="../assets/Fudge.jpg" alt="">
          <h3>Chocolate Fudge</h3>
          <p> Rebanada de pastel cremoso y decadente, se derrite en tu paladar inundándolo con el sabor intenso del chocolate.</p>
          <div class="price">$65.00</div>
       </div>
       <div class="product" data-name="p-2">
          <img src="../assets/Zanahoria.jpg" alt="">
          <h3>Zanahoria</h3>
          <p> Rebanada de nuestro delicioso pastel de zanahoria, la mezcla perfecta de suavidad y especias.</p>
          <div class="price">$55.00</div>
       </div>
       <!--<div class="product" data-name="p-3">
          <img src="../assets/Tortuga.jpg" alt="">
          <h3>Tortuga</h3>
          <p> Rebanada con cobertura de cajeta y trocitos de nueces con chocolate. ¡El postre perfecto te espera!</p>
          <div class="price">$45.00</div>
       </div>
       <div class="product" data-name="p-4">
          <img src="../assets/4.png" alt="">
          <h3></h3>
          <div class="price">$2.00</div>
       </div>
  
       <div class="product" data-name="p-5">
          <img src="../assets/5.png" alt="">
          <h3></h3>
          <div class="price">$2.00</div>
       </div>
  
       <div class="product" data-name="p-6">
          <img src="../assets/6.png" alt="">
          <h3></h3>
          <div class="price">$2.00</div>
       </div>-->
    </div>
  </div>
