<div class="container">
    <h3 class="title"> GALLETAS </h3>
    <div class="products-container">
       <div class="product" data-name="p-1">
          <img src="../assets/Mantequilla.jpg" alt="">
          <h3>Mantequilla</h3>
          <p> Una galleta de sabor a mantequilla que te transportará a la nostalgia de los sabores caseros. </p>
          <div class="price">$10.00</div>
       </div>
       <div class="product" data-name="p-2">
          <img src="../assets/Chocolate.jpg" alt="">
          <h3>Chocolate</h3>
          <p> Una galleta de chocolate, con un centro suave y un exterior crujiente que se deshace en tu boca.</p>
          <div class="price">$10.00</div>
       </div>
       <div class="product" data-name="p-3">
          <img src="../assets/Chispas.jpg" alt="">
          <h3>Chispas de chocolate</h3>
          <p> Una galleta de chispas de chocolate que es una verdadera delicia para los amantes del chocolate.</p>
          <div class="price">$10.00</div>
       </div>
       <!--<div class="product" data-name="p-4">
          <img src="../assets/4.png" alt="">
          <h3></h3>
          <div class="price">$2.00</div>
       </div>
  
       <div class="product" data-name="p-5">
          <img src="../assets/5.png" alt="">
          <h3></h3>
          <div class="price">$2.00</div>
       </div>
  
       <div class="product" data-name="p-6">
          <img src="../assets/6.png" alt="">
          <h3></h3>
          <div class="price">$2.00</div>
       </div>-->
    </div>
  </div>
