<header class="header">
    <div class="logo">
      <a class="nav-brand" routerLink="/home">
      <img src="../assets/Log2.png" alt="Logo de la marca">
      </a>
    </div>
          <nav>
             <ul class="nav-links">
                  <li><a routerLink="/home/about">Sobre nosotros</a></li>
                  <li><a routerLink="/home/photos">Galería</a></li>
                  <li><a routerLink="/home/menu">Menu</a></li>
                  <li><a routerLink="/home/time">Horario</a></li>
                  <li><a routerLink="/home/reservation">Reservaciones</a></li>
             </ul>
          </nav>
          <a class="btn" routerLink="/home/suggestions"><button>Sugerencias</button></a>
  </header>

