.d-img{
  height: 588px;
  object-fit: cover;
  filter: brightness(0.7);
}
.carousel-control-prev-icon{
  background-color: rgb(0, 0, 0,0.9);
  opacity: 0.9;
}
.carousel-control-next-icon{
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0.9;
}
.cc{
   font-family: 'Dancing Script', 'Great Vibes', cursive;
   font-size: 600%;
   margin-top: 2000%;
   color: #c3e5f5;
   letter-spacing: 6px;
}
.btn button{
  color: #e2f1f8;
  font-weight: 500;
  background: #1b3039;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.btn button:hover{
  background-color: #e2f1f8;
  color: #ff2258;
  transform: scale(1.1);
}
