<!--<div id="container">
    <div class="suggestion">
        <div class="suggestion-info">
            <div class="suggestion-label">Nombre:</div>
            <div class="suggestion-value">Julian</div>
        </div>
        <div class="suggestion-info">
            <div class="suggestion-label">Correo:</div>
            <div class="suggestion-value">7262@itescam.edu.mx</div>
        </div>
        <div class="suggestion-info">
            <div class="suggestion-label">Teléfono:</div>
            <div class="suggestion-value">(123) 456-7890</div>
        </div>
        <div class="suggestion-info">
            <div class="suggestion-label">Asunto:</div>
            <div class="suggestion-value">comida</div>
        </div>
        <div class="suggestion-info">
            <div class="suggestion-sug">Sugerencia:</div>
            <div class="suggestion-su"> Bebidas y cheescake muy deliciosas</div>
        </div>
        <button class="accept-button">Aceptar</button>
        <button class="delete-button">Eliminar</button>
    </div>
</div>
<button class="accept-changes-button">Aceptar Cambios</button>-->
<app-list-suggestion></app-list-suggestion>
