div {
    form {
      background-color: #0e1c3371;
      padding: 20px;
      margin-top: 1%;
      width: 600px; 
      border-radius: 13px;

      .form-group {
        margin-bottom: 15px;
        color: white;
  
        label {
          color: #fff;
          font-size: 16px;
        }
  
        input[type="text"],
        input[type="file"] {
          width: 100%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          margin-top: 5px;
          margin-bottom: 10px;
          box-sizing: border-box;
        }
      }
  
      .btn-primary {
        padding: 10px 20px;
        font-size: 18px;
        background-color: #0e1c33;
        color: #fff;
        border: 1px solid #0e1c33;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
  
        &:hover {
          background-color: #2a91ff;
          border: 1px solid #2a91ff;
        }
  
        &[disabled] {
          background-color: #ccc;
          border: 1px solid #ccc;
          cursor: not-allowed;
        }
      }
    }
  }
  