<h1> Fotos de clientes </h1>
<body>
    <div class="card" style="--i:url(assets/Client1.jpg)">
        <div class="content">
            <h2>17 Octubre 2023</h2>
            <a href="#"></a>
        </div>
    </div>

    <div class="card" style="--i:url(assets/Client5.jpg)">
        <div class="content">
            <h2>7 Septiembre 2023</h2>
            <a href="#"></a>
        </div>
    </div>

    <div class="card" style="--i:url(assets/Client2.jpg)">
        <div class="content">
            <h2>17 Septiembre 2023</h2>
            <a href="#"></a>
        </div>
    </div>

    <div class="card" style="--i:url(assets/Client6.jpg)">
        <div class="content">
            <h2>9 Septiembre 2023</h2>
            <a href="#"></a>
        </div>
    </div>

    <div class="card" style="--i:url(assets/Client3.jpg)">
        <div class="content">
            <h2>17 Septiembre 2023</h2>
            <a href="#"></a>
        </div>
    </div>
</body>
